Flask==0.10.1

# Application server for both development and production.
gunicorn==19.4.5


# Data and workers.
psycopg2==2.6.1
Flask-SQLAlchemy==2.1
# redis==2.10.5
# celery==3.1.23

# Forms.
Flask-WTF==0.9.5
WTForms-Components==0.9.7

# Extensions.
flask-debugtoolbar==0.10.0

# Pandas for csv reading
pandas==0.19.0