{% extends 'layouts/base.html' %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('page.home') }}">
          <img src="{{ url_for('static', filename='images/sweep-logo.png') }}", height="45px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fat-text" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class=-"nav-item">
            <a class="nav-link" href="{{ url_for('track.track_page') }}">TRACK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('find.find_page') }}">ENGAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EXPLORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page.contribute') }}">CONTRIBUTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page.about') }}">ABOUT</a>
            </li>
            <li>
              &nbsp;
            </li>
            <li class="nav-item">
              <a href="https://github.com/winlingit/mids-w210-capstone">
                <img src="{{ url_for('static', filename='images/GitHub-Mark-Light-64px.png') }}" height="35px">
              </a>
            <li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
