{% extends 'layouts/base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('page.home') }}">Congressional Flip Floppers</a>
        <a class="navbar-brand" href="{{ url_for('page.home') }}">
          <img src="{{ url_for('static', filename='images/logo-small.png') }}", height="30px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('find.find_page') }}">Find</a>
            </li>
            <li class=-"nav-item">
            <a class="nav-link" href="#">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page.about') }}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
