{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
        content="{% block meta_description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/bootstrap.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main class="container">
    {% block navbar %}{% endblock %}
    </main>
      {{ flash.render() }}

      {% block heading %}{% endblock %}
      {% block body %}{% endblock %}

    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="text-muted">MIDS Sweep &copy; 2017</li>
          {% block footer %}{% endblock %}
        </ul>
      </div>
    </footer>
    <script 
      src="{{ url_for('static', filename='scripts/vendor/popper.min.js') }}">
    </script>
    <script
      src="{{ url_for('static', filename='scripts/vendor/jquery.min.js') }}">
    </script>

    <script
      src="{{ url_for('static', filename='scripts/vendor/bootstrap.bundle.min.js') }}">
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
