{% extends 'layouts/app.html' %}
{% import "macros/form.html" as f with context %}

{% block title %}Explore{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block body %}
<section class="content-section-b">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<h3>DW Nominate Score by State</h3>
						<p class="lead">State coloring based on <a href="https://en.wikipedia.org/wiki/NOMINATE_(scaling_method)">DW Nominate Score</a></p>
						<div id="dw-map-chart" class="map-chart"></div>
					</div>
					<div class="col-md-4">
						<h3>Contributions by Representative Type</h3>
						<div id="rep-chart"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<h3>Contributions by State</h3>
						<div id="contrib-map-chart"></div>
					</div>
					<div class="col-md-4">
						<h3>Contributions by Party</h3>
						<div id="party-chart"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-lg-12">
					<h3>Contributions by Industry</h3>
					<div id="industry-chart"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/vendor/crossfilter.js') }}"></script> 
<script src="{{ url_for('static', filename='scripts/vendor/d3.v3.min.js') }}"></script> 
<script src="{{ url_for('static', filename='scripts/vendor/dc.js') }}"></script> 
<script src="{{ url_for('static', filename='scripts/vendor/queue.js') }}"></script> 
<script src="{{ url_for('static', filename='scripts/explore.js') }}"></script> 
{% endblock %}