{% extends 'layouts/app.html' %}
{% import "macros/form.html" as f with context %}

{% block title %}Engage{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block body %}
<section class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-sm-12 spacer-10">
          <h2>ENGAGE YOUR LEGISLATORS</h2>
          <p class="lead">Learn about your legislators, how they will likely vote on upcoming bills, and their main sources of influence.</p>
       </div>
     </div>
</div>
</section>
{% endblock %}
