{% extends 'layouts/app.html' %}
{% import "macros/form.html" as f with context %}

{% block title %}Engage{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block body %}

<section class="content-section-b">
   <div class="container">
    <div class="row">
       <div class="col-sm-12 spacer-10">
          <a href="{{ url_for('find.find_page') }}"><< Back to Engage Your Legislators</a>
          <h2>{{ member.mem_type }} {{ member.first_name }} {{ member.last_name }}</h2>
          <a class="dark" href="https://twitter.com/@{{ member.twitter }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          <a class="dark" href="https://facebook.com/{{ member.facebook }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
          <a class="dark" href="{{ member.contact_form }}"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
          <a class="dark" href="tel:{{ member.phone }}"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i></a>
       </div>
     </div>
     <div class="row spacer-10">
      <div class="col-md-6">
        <h3>Member Details</h3>
        <ul class="lead">
          <li><b>Representing:</b> {{ member.state_abbrev }}
          {%- if member.district %}
             - District {{ member.district }}
          {%- endif %}</li>
          <li><b>Party:</b> {{ member.party }}</li>
          <li><b>Votes with Party:</b> {{ member.votes_with_party_pct }}%</li>
          <li><b>DW Nominate Score:</b> {{ member.dw_nominate }}</li>
          <li><b>Phone:</b> {{ member.phone }}</li>
          <li><b>Website:</b> <a href="{{ member.url }}">{{ member.url }}</a></li>
        </ul>
        <h3>Recent Votes</h3>
        <br>
          <table class="table table-hover">
            <thead>
            <tr>
              <th width="120">DATE</th>
              <th>DESCRIPTION</th>
            </tr>
            </thead>
          {%- for bill in bills|sort(attribute='latest_major_action_date', reverse=True) %}
            {%- for vote in votes %}
              {%- if vote.bill_id == bill.bill_id %}
                <tr>
                  <td>
                    {{ bill.latest_major_action_date.strftime('%b. %d, %Y') }}
                  </td>
                  <td>
                    <b>{{ vote.vote_position|upper }}</b> on 
                <b><a href="{{ url_for('track.track_page', bill_id=vote.bill_id) }}">{{ vote.bill_id|upper }}</a></b>: {{ bill.title }}
                  </td>
                </tr>
              {%- endif %}
            {%- endfor %}
          {%- endfor %}
        </table>
      </div>
      <div class="col-md-6">
        <h3>Predicted Votes on Upcoming Bills</h3>
        <br>
        <table class="table table-hover">
          <thead>
          <tr>
            <th width="120">DATE</th>
            <th>DESCRIPTION</th>
            <th>SWING PROBABILITY</th>
          </tr>
          </thead>
          <tbody id="myTable">
            {%- for bill in bills|sort(attribute='latest_major_action_date') %}
              <tr>
                <td>
                  {{ bill.latest_major_action_date.strftime('%b. %d, %Y') }}
                </td>
                <td>
                  <b><a href="{{ url_for('track.track_page', bill_id=bill.bill_id) }}">{{ bill.bill_id|upper }}</a></b>: {{ bill.title }}
                </td>
                <td>
                  {%- for prediction in predictions %}
                    {%- if prediction.bill_id == bill.bill_id and prediction.model_id == 1 %}
                      {{ 100*prediction.pred_probs|round }}% 
                    {%- endif %}
                  {%- endfor %}
                </td>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
     </div>

</div>
</section>
{% endblock %}
{% block scripts %}
<script
src="{{ url_for('static', filename='scripts/engage.js') }}">
</script>
{% endblock %}