{% extends 'layouts/app.html' %}
{% import "macros/form.html" as f with context %}

{% block title %}Engage{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block body %}
<section class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-sm-12 spacer-10">
          <a href="{{ url_for('find.find_page') }}"><< Back to Zipcode Search</a>
          <h2>ENGAGE YOUR LEGISLATORS</h2>
          <p class="lead">Learn about your legislators, how they will likely vote on upcoming bills, and their main sources of influence.</p>
       </div>
     </div>
     <div class="row spacer-10">
        <div class="col-sm-4">
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
     </div>
     <div class="row spacer-10">
       <div class="col-lg-12">
           <h4>Legislators for Zip Code: <b style="color: #387eed">{{ zipcode.zip }}</b></h4>
           <table class="table table-hover">
               <thead>
               <tr>
                   <th>NAME</th>
                   <th>CONTACT INFO</th>
                   <th>PARTY</th>
                   <th>POSITION</th>
                   <th>BIRTH DATE</th>
                   <th>DISTRICT</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {%- for member in members %}
               <tr>
                   <td><a href="{{ url_for('find.find_page', member_id=member.member_id) }}">{{ member.first_name}} {{ member.last_name }}</a></td>
                   <td>
                     <a class="dark" href="https://twitter.com/@{{ member.twitter }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> 
                     <a class="dark" href="https://facebook.com/{{ member.facebook }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                     <a class="dark" href="{{ member.contact_form }}"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
                     <a class="dark" href="tel:{{ member.phone }}"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i></a>
                   </td>
                   <td>{{ member.party }}</td>
                   <td>{{ member.mem_type }}</td>
                   <td>{{ member.birth_date.strftime('%m/%d/%Y') }}</td>
                   <td>{{ member.district }}</td>
               </tr>
               {%- endfor %}
             </tbody>
          </table>
       </div>
   </div>
</div>
</section>
{% endblock %}
{% block scripts %}
<script
src="{{ url_for('static', filename='scripts/engage.js') }}">
</script>
{% endblock %}