{% extends 'layouts/app.html' %}

{% block title %}About{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
   <section class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="cold-md-4"></div>
          <div class="col-md-4">
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/logo-large.png') }}", class="img-responsive center-block">
          </div>
          <div class="cold-md-4"></div>
        <div class="row">
          <div class="col">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Who We Are</h2>
            <p class="lead">We are a team of students in the Master of Information and Data Science program at UC Berkeley.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section-b">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
              <div class="clearfix"></div>
              <h3 class="section-heading">Matthew Burke</h3>
              <p class="lead">Placeholder. Probably put in email, github, etc</p>
            </div>
            <div class="col-md-3">
              <div class="clearfix"></div>
              <h3 class="section-heading">Winston Lin</h3>
              <p class="lead">Placeholder. Probably put in email, github, etc</p>
            </div>
            <div class="col-md-3">
              <div class="clearfix"></div>
              <h3 class="section-heading">Steve Pelkey</h3>
              <p class="lead">Placeholder. Probably put in email, github, etc</p>
            </div>
            <div class="col-md-3">
              <div class="clearfix"></div>
              <h3 class="section-heading">Nick Stamatakis</h3>
              <p class="lead">Placeholder. Probably put in email, github, etc</p>
            </div>
        </div>
      </div>
      <!-- /.container -->
   </section>
{% endblock %}
