{% extends 'layouts/app.html' %}

{% block title %}About{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
<section class="content-section-b">
      <div class="container">

        <div class="row spacer-10">
          <div class="col-sm-12">
            <h2>ABOUT</h2>
            <p class="lead">We developed sweep for our Capstone Project under the Master’s of Information and Data Science (MIDS) Program at UC Berkeley.  Thank you to the MIDS faculty and administration, fellow students, partner organizations, and our families and friends for helping us on this journey.</p>
          </div>
        </div>
      <!-- search -->
          <div class="row spacer-30">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center">
              <table class="table">
                <tbody  id="myTable">
                  <tr>
                    <td class="col-xs-5">
                        <img src="{{ url_for('static', filename='images/team_0002_steve.png') }}" height="200px">
                        <p>Steve Pelkey<br>
                          <a class="dark" href="mailto:spelkey@ischool.berkeley.edu">
                          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a class="dark" href="#">
                          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" height="20px"></i></a>
                        </p>
                    </td>
                    <td class="col-xs-5">
                        <img src="{{ url_for('static', filename='images/team_0003_matthew.png') }}" height="200px">
                        <p>Matthew Burke<br>
                          <a class="dark" href="mailto:matthew.burke@ischool.berkeley.edu">
                          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a class="dark" href="https://www.linkedin.com/in/matthew-burke-2017/">
                          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" height="20px"></i></a>
                        </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-xs-5">
                        <img src="{{ url_for('static', filename='images/team_0001_nick.png') }}" height="200px">
                        <p>Nick Stamatakis<br>
                          <a class="dark" href="mailto:nickstamatakis@ischool.berkeley.edu">
                          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a class="dark" href="https://www.linkedin.com/in/nick-stamatakis-7977793b/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" height="20px"></i></a>
                        </p>
                    </td>
                    <td class="col-xs-5">
                        <img src="{{ url_for('static', filename='images/team_0000_winston.png') }}" height="200px">
                        <p>Winston Lin<br>
                          <a class="dark" href="mailto:winlin@ischool.berkeley.edu">
                          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                          &nbsp;&nbsp;&nbsp;
                          <a class="dark" href="https://www.linkedin.com/in/winstonlin1/">
                          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" height="20px"></i></a>
                        </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
