{% extends 'layouts/app.html' %}

{% block title %}About{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% heading %}
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>About</h1>
          <hr class="intro-divider">
          <h3>MIDS W210 Capstone Project Overview</h3>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
   <section class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Who Are We</h2>
            <p class="lead">We are a team of students in the Master of Information and Data Science program at UC Berkeley.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>Explore</h3>
            <p class="lead">Explore the current political landscape</p>
          </div>
          <div class="col-md-4">
            <h3>Find</h3>
            <p class="lead">Find your representative and discover if they represent your interests</p>
          </div>
          <div class="col-md-4">
            <h3>Track</h3>
            <p class="lead">Track the status of upcoming bills and see who is on the fence</p>
          </div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
