{% extends 'layouts/app.html' %}

{% block title %}Contribute{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
 <section class="content-section-b">
      <div class="container">

        <div class="row spacer-10">
          <div class="col-sm-12">
            <h2>CONTRIBUTE TO THE CAUSE</h2>
            <p class="lead">Ask your own questions, and find your own answers.  Share your work and ideas.  Support us and our partners.</p>
          </div>
        </div>
      <!-- search -->
          <div class="row spacer-10">
            <div class="col-sm-12">
              <ol>
                <li>Add your work and ideas:</li>
                  <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                    <li style="margin-left:2em">Fork our <a href="https://github.com/winlingit/mids-w210-capstone">Github Repo</a></li>
                    <li style="margin-left:2em; padding-bottom: 0;"><a href="{{ url_for('page.about') }}">Contact Us</a></li>
                  </ol>
                <li>Share us via Facebook, Twitter, Napster (jkjk..)</li>
                <li>Support our partners:</li>
              </ol>
            </div>
        </div>
        <div class="row spacer-30">
          <div class="col-sm-6">
            <a href="https://www.propublica.org/">
              <img src="{{ url_for('static', filename='images/propublica-logo.svg') }}" width="300" >
            </a>
          </div>
          <div class="col-sm-6">
            <a href="https://votesmart.org/">
              <img src="{{ url_for('static', filename='images/votesmart-logo.jpg') }}" width="300">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="https://www.opensecrets.org/">
              <img src="{{ url_for('static', filename='images/opensecrets-logo.svg') }}" width="300">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="https://www.govtrack.us/">
              <img src="{{ url_for('static', filename='images/govtrack-logo.png') }}" width="300">
            </a>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
