{% extends 'layouts/app.html' %}

{% block title %}Contribute{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
 <section class="content-section-b">
      <div class="container">

        <div class="row spacer-10">
          <div class="col-sm-12">
            <h2>CONTRIBUTE TO THE CAUSE</h2>
            <p class="lead">Ask your own questions, and find your own answers.  Share your work and ideas.  Support us and our partners.</p>
          </div>
        </div>
      <!-- search -->
          <div class="row spacer-30">
            <div class="col-sm-12">
              <ol>
                <li>Download our data:</li>
                <li>Add your work and ideas:</li>
                <li>Fund us:</li>
                <li>Share us via:</li>
                <li>Support our partners:</li>
              </ol>
            </div>
        </div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
