{% extends 'layouts/app.html' %}
{% import "macros/form.html" as f with context %}

{% block title %}Flip Floppers{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}

{% block heading %}
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Congressional Flip Floppers</h1>
          <hr class="intro-divider">
          <h3>MIDS W210 Capstone Project</h3>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
   <section class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/explore-icon.png') }}">
            <h3>Explore</h3>
            <p class="lead">Explore the current political landscape</p>
          </div>
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/find-icon.png') }}">
            <h3>Find</h3>
            <p class="lead">Find your representative and discover if they represent your interests</p>
            {% call f.form_tag('find.find_page', method='get') %}
                {% call f.form_group(form.zipcode, css_class='margin-bottom') %}
                {% endcall %}
                <button type="submit" class="btn btn-primary">Find Respresentative</button>
            {% endcall %}
          </div>
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/track-icon.png') }}">
            <h3>Track</h3>
            <p class="lead">Track the status of upcoming bills and see who is on the fence</p>
          </div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
