{% extends 'layouts/app.html' %}

{% block title %}Methodology{% endblock %}
{% block meta_description %}Holding Congress accountable{% endblock %}


{% block body %}
<section class="content-section-b">
      <div class="container">

        <div class="row spacer-10">
          <div class="col-sm-5">
            <h2>METHODOLOGY</h2>
            <br>
          </div>
          <div class="col-sm-7"></div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h4>Problem Background</h4>
            <p>Today's political climate is the most polarized it has ever been with Congress members voting with their party 95% of the time, up 12 percentage points in the past 17 years. This leads to a situation where the fate of import legislation typically lies in just a handful of representatives. 
            </p>
            <p>There is significant work being done to track legislators, voting and elections, however voters must sift through catalogs of disparate data and draw their own insights. 
            <h4>Goal</h4>
            <p>Our goal is to apply a machine learning approach to identify potential swing voters so that engaged citizens have a productive channel for political activism between elections.</p>
            <h4>Solution</h4>
            <ul>
              <li>Combine data sources into cohesive data store</li>
              <li>Expose data to voters through interactive visualization</li>
              <li>Identify <i>fence-sitters</i>:&nbsp;&nbsp; candidates who may vote against their party majority</li>
            </ul>
          </p>
          </div>
          <div class="col-sm-7"><img src="{{ url_for('static', filename='images/vote_polarization.png') }}" class="side"></div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h4>Data Sources</h4>
            <p>We collected data from <a href="{{ url_for('page.contribute') }}">publicly available data sources</a> for the following areas:</p>
            <div class="row">
              <div class="col-sm-6">
                <h5>Primary</h5>
                <ul>
                  <li>Bills</li>
                  <li>Roll Call Votes</li>
                  <li>Legislators</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h5>Secondary</h5>
                <ul>
                  <li>PAC Contributions</li>
                  <li>Special Interest Group Ratings</li>
                  <li>District Economics</li>
                </ul>
              </div>
            </div>
            <h4>Approach</h4>
            <h5>Anomaly Detection</h5>
            <p>We framed the machine learning problem in terms of predicting legislators who vote against their party rather than predicting votes outright overall, as this approach has not received extensive research in the literature. By treating it as an anomaly detection problem, we hope to have better predictive power than raw voting results.
            </p>
          </div>
          <div class="col-sm-7"><img src="{{ url_for('static', filename='images/data_sources.png') }}" class="side"></div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h5>Ensemble Models</h5>
            <p>Similarly, although there was significant research done on this topic, research was often limited to one particular feature set, i.e. voting history, PAC funding, etc., and we believe that combining models trained on each of these individual features into an ensemble model will provide greater predictive power and generalization than any one model on its own. An overview of the model approach can be seen to the right.
            </p>
          </div>
          <div class="col-sm-7"><img src="{{ url_for('static', filename='images/ensemble_model.png') }}" class="side"></div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h4>Model Results</h4>
            <h5>Overall Performance</h5>
            <p>The overall model is able to faithfully identify congress members who vote against their own party. Setting a probability threshold at 80% identifies the vast majority (90%) of this population. Unfortunately, due to the frequency at which members vote with their party, such a threshold results in an unacceptable number of false positives. Despite its impressive performance over baseline, additional work is needed to maximize the predictions of the ensemble model.
            </p>
          </div>
          <div class="col-sm-7"><img src="{{ url_for('static', filename='images/probabilities.png') }}" class="side"></div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h5>Relative Performance</h5>
            <p>All of the featureset models perform better than their baseline. Member ideology, which is typically the most common approach used to explain voting patterns, performed the best. We obtained a small, yet reliable gain in performance by combining the results of these models with an ensemble approach.
            </p>
          </div>
          <div class="col-sm-7"><img src="{{ url_for('static', filename='images/model_performance.png') }}" class="side"></div>
      </div>
      <!-- /.container -->
    </section>
{% endblock %}
